<style>
    .form-control {
        display: inline;
        width: 30%;
    }
    .btn-primary {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .delete {
        font-weight: bold;
        cursor: pointer;
    }
</style>

<form ng-submit="submitLists()">
    <div class="form-group">

        <div class="row">
            <h2 class="pull-left">Linked List Processor</h2>
            <button type="submit" class="btn btn-primary pull-right">Submit Lists</button>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>First input list</h3>
                <div class="form-group" ng-repeat="node in listOne.Nodes">
                    <input ng-model="node.Id" type="text" class="form-control" placeholder="ID">
                    <input ng-model="node.NextNodeId" type="text" class="form-control" placeholder="Next node ID">
                    <input ng-model="node.Value" type="text" class="form-control" placeholder="Value">
                    <a class="delete" ng-click="removeNode(node, listOne)">X</a>
                </div>
                <button type="button" class="btn btn-default" ng-click="addNode(listOne)" ng-disabled="listOne.Nodes.length >= 7">Add Node</button>
            </div>
            <div class="col-md-6">
                <h3>Second input list</h3>
                <div class="form-group" ng-repeat="node in listTwo.Nodes">
                    <input ng-model="node.Id" type="text" class="form-control" placeholder="ID">
                    <input ng-model="node.NextNodeId" type="text" class="form-control" placeholder="Next node ID">
                    <input ng-model="node.Value" type="text" class="form-control" placeholder="Value">
                    <a class="delete" ng-click="removeNode(node, listTwo)">X</a>
                </div>
                <button type="button" class="btn btn-default" ng-click="addNode(listTwo)" ng-disabled="listTwo.Nodes.length >= 7">Add Node</button>
            </div>
        </div>
    </div>
</form>

<div class="row" ng-show="sortedList">
    <div class="col-md-6">
        <h3>Sorted list</h3>
        <div class="form-group" ng-repeat="node in sortedList.Nodes">
            <input ng-model="node.Id" type="text" class="form-control" placeholder="ID">
            <input ng-model="node.NextNodeId" type="text" class="form-control" placeholder="Next node ID">
            <input ng-model="node.Value" type="text" class="form-control" placeholder="Value">
        </div>
    </div>
    <div class="col-md-6">
        <h3>Conflicts</h3>
    </div>
</div>